# Data & Models (Keep these local only)
/data/
/models_output/
*.safetensors
*.bin

# Python & System Junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
.venv/
wandb/
.DS_Store
logs/
layoutlmv3_base/
layoutlmv3_base/
